<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Alberta Gravel" content="width=device-width, initial-scale=1" />
  <meta name="Map of alberta gravel cycling routes" content="Map" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <title>Alberta Gravel Cycling Routes</title>


  <style>
    #map {height: 100vh;}
  </style>
  <script src="/script.js" defer></script>

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <div class="container-fluid boarder">
    <h1 class="display-2 text-center mb-4">Alberta Gravel Cycling Routes</h1>
  </div>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 mx-2 .bg-light text-black">
          <div class="row my-4 bg-light.bg-gradient">
            <p class="card-test mb-3 text-muted">
              <em> Colors are to distinguish one route from another.</em>
            </p>
            <p class="card-test mb-3 text-muted">
              <em> Click on a route to see details and a link to the original route. </em>
            </p>
          </div>
        </div>
        <div id="map" class="col-12 col-lg-9 border rounded">
          <script src="script.js"></script>
        </div>
      </div>
    </div>
  </main>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="https://www.facebook.com/groups/albertagravelcycling/permalink/2768050476836434" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          Alberta Gravel Facebook
        </a>
      </div>
      <div class="row-md-4 d-flex align-items-end"></div>
        <span class="mb-3 mb-md-0 text-muted justify-content-end">contact@albertagravel.com</span>
      
    </footer>
  </div>

</body>

</html>